body {
    font-family: lato;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background: #141d2b;
}

.content {
    grid-column: 2;
    color: #a4b1cd;
    background: #263143;
    margin-top: 20%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
.content form > * {
    margin: 5px 0;
}
